.hero{
    background: url("../img/bg-main.jpg") center center /cover no-repeat;
    padding: 35px 0 375px 0;
}

.header{
    &__logo{
        display: flex;
        justify-content: center;
        margin-bottom: 473px;
        a{
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__menu{
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &s{
                font-weight: 900;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                &:nth-child(1){
                    a{
                        background: url("../img/hero/menu-1.png") top center /cover no-repeat;
                    }
                }
                &:nth-child(2){
                    a{
                        background: url("../img/hero/menu-2.png") top center /cover no-repeat;
                    }
                }
                &:nth-child(3){
                    a{
                        background: url("../img/hero/menu-3.png") top center /cover no-repeat;
                    }
                }
                &:nth-child(4){
                    a{
                        background: url("../img/hero/menu-4.png") top center /cover no-repeat;
                    }
                }
                &:nth-child(5){
                    a{
                        background: url("../img/hero/menu-5.png") top center /cover no-repeat;
                    }
                }
                a{  
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 62px;
                    min-width: 213px;
                    transition: all 0.3s;
                    &:hover{
                        transform: translateY(-3px) rotate(-5deg);
                        color: rgba($color: white, $alpha: 0.6);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}